@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Gajraj+One&family=Six+Caps&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --text: 'Ubuntu', sans-serif;
  --display: 'Audiowide', sans-serif;
  --narrow: 'Six Caps', sans-serif;
  --main: #32ff73;
  --off-white: #dcdfec;
  --transparent-white: rgba(220, 223, 236, 0.8);
  --off-grey: #8b93aa;
  --off-black: #232b3f;
}

html {
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

html, body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background-color: var(--off-white);
}


::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
} 


p, a{
  font-size: 0.9rem;
  line-height: 1rem;
  font-family: var(--text);
  font-stretch:expanded;
  text-decoration: none;
  color: var(--off-black);
}

ul {
  list-style: none;
}

li {
  font-family: var(--display);
  text-decoration: none;
}


h1 {
  font-size: 3.5rem;
  line-height: 3rem;
  font-family: var(--display);
  text-transform: uppercase;
  color: var(--off-white);
}

h2 {
  font-family: var(--display);
  margin-top: 15px;
  color: var(--off-black);
  text-transform: uppercase;
  font-size: 1.2rem;
}

i {
  color: var(--off-white);
  cursor: pointer; 
  overflow-y: visible;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.inactive {
  display: none;
  pointer-events: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  pointer-events: none;
}

/* NAV - MENU */

nav {
  position: fixed;
  z-index: 40;
  right: 5%;
  top: 0;
  overflow-y: visible;
}

.menu-icon {
  display: flex;
  justify-content: right;
  padding: 15px 0px;
  margin: 0 -6px;
}

nav i, nav a {
  font-size: 2.1rem; 
  -webkit-text-stroke: 4px transparent !important;
  margin: 0 -3px;
}

nav i:hover, nav a:hover{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px transparent !important;
}

.menu-links{
  background-color: var(--transparent-white);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  text-align: right;
  position: fixed;
  height: 100%;
  width: 500px;
  top: 0;
  right: -500px;
  text-align: right;
  z-index: 2;
  transition: 0.5s;
  overflow: hidden;
}

.close-icon {
  margin-top: 15px;
  background-color: transparent !important;
}

.close-icon i{
  font-size: 3rem;
  padding: 3px 23px;
  background-color: transparent;
}

.menu-links ul li{
  list-style: none;
  display: block;
  padding: 18px 0;
  position: relative;
}

.menu-links ul{
  padding: 10px 5%;
  margin-bottom: 40px;
}

.menu-links a{
  padding-right: 5px;
  color: var(--off-white);
}

@media screen and (min-width: 1100px) {
  nav  {
    top: 5%;
  }
  nav i {
    margin: 0;
  }
  .menu-icon {
    margin: -10px -48px;
    padding: 0;
  }
  .menu-links {
    top: 0px;
    padding-right: 30px;
  }
  .close-icon {
    margin-top: 5%;
  }
  .close-icon i{
    font-size: 3.35rem;
    padding: 15px 23px;
  }
  .resume i {
    color: var(--off-grey);
    font-size: 1.3rem;
  }
  p, a{
    font-size: 1rem;
    line-height: 1.7rem;
  }
  nav i, nav a {
    font-size: 2.4rem; 
  }
  h2 {
    font-size: 1.4rem;
  }
  .menu-links ul{
    padding: 30px 5%;
  }
}

/* Credits */

.credits-section {
  position: relative;
}

.credits-container {
  bottom: 23px;
  position: fixed;
  z-index: 30;
  display: flex;
  right: 0;
  align-items: flex-end;
  justify-items: flex-end;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}
.credits-container i {
  font-size: 2.4rem;
  margin-right: calc(5% - 10px);
}

.attributions-container {
  background: var(--transparent-white);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.attributions-container ul {
  margin: 0;
  padding: 5%;
  margin-left: 80px;
  margin-bottom: -15px;
}
.attributions-container li, .attributions-container a {
  line-height: 1rem;
  color: var(--off-black);
  font-size: 0.8rem;
  font-family: var(--text);
  padding: 0;
  margin: 0;
}
.attributions-container li, .attributions-container p {
  margin: -22px 0;
  margin-left: 40px;
}
.attributions-container a {
  text-decoration: underline;
}
.attributions-container a:hover {
  color: var(--off-black) !important;
  -webkit-text-fill-color: var(--off-black);
  font-style: italic;
}

@media screen and (min-width: 1100px) {
  .credits-container {
    bottom: 60px;
    right: 5%;
  }
  .attributions-container li, .attributions-container a {
    line-height: 1rem;
  }
  .credits-container i {
    font-size: 2.9rem;
  }
}

/* INTRO */

.intro {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--transparent-white);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(0.5px);
  z-index: 22;
}

.intro-container {
  position: absolute;
  width: 90%;
  max-width: 1300px;
  left: 5%;
  top: 53%;
  transform: translateY(-50%);
  transition: all 1500ms ease-in;
}

.rainbow-letters {
  background: linear-gradient(
    -45deg, #b44285, #111622, #ff00f3, 
    #32ff73, #392149, #00bbbb, #b44285 95% 
  );
  background-size: 400%;
  padding: 10px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 7px transparent;
}

.intro h1 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.8rem;
  line-height: 2.2rem;
  letter-spacing: 2.5px;
  word-spacing: -2px;
  padding-left: 2px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 6px transparent;
}

.intro span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px transparent;
  font-weight: 800;
  letter-spacing: -0.5px;
}

.intro p {
  font-size: 0.9rem;
  line-height: 1.4rem;
  max-width: 1100px;
  font-weight: 300;
}

.intro .flex {
  justify-content: flex-start;
  margin-top: 15px;
  gap: 10px;
  overflow-y: visible;
}
.intro .flex i {
  font-size: 1.8rem;
}
.intro .flex i:hover {
  background: var(--off-grey);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 8px transparent;
}

.intro-arrow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 120px;
}

.intro-arrow i {
  font-size: 4rem;
}

.intro-arrow i:hover{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px transparent;
}

@media screen and (min-width: 1400px) {
  .intro h1 {
    font-size: 4.2rem;
    line-height: 5rem;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 8px transparent;
  }
  .intro p {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
  .intro-arrow {
    align-items: center;
    padding-right: 120px;
    margin-top: -20px;
  }
  .intro-arrow i {
    font-size: 10rem;
  }
  .intro .flex {
    gap: 30px;
  }
  .intro .flex i {
    font-size: 2.8rem;
  }
}

@media screen and (min-width: 900px) and (max-width: 1399px) {
  .intro h1 {
    font-size: 3.5rem;
    line-height: 4.5rem;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 8px transparent;
  }
  .intro p {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
  .intro-arrow {
    align-items: center;
    padding-right: 120px;
    margin-top: -20px;
  }
  .intro-arrow i {
    font-size: 10rem;
  }
  .intro .flex {
    gap: 30px;
  }
  .intro .flex i {
    font-size: 2.8rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .intro h1 {
    font-size: 3rem;
    line-height: 3.8rem;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 7px transparent;
  }
  .intro p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .intro-arrow {
    align-items: center;
    padding-right: 120px;
  }
  .intro-arrow i {
    font-size: 8rem;
  }
  .intro .flex {
    gap: 20px;
  }
  .intro .flex i {
    font-size: 2.5rem;
  }
}


/* MAIN SECTIONS */

.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

section {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: visible;
}

.main-text {
  background-color: var(--transparent-white);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  padding: 5%;
}

section h1 {
  margin-bottom: 25px;
  font-size: 2.4rem;
  margin-left: -10px;
  margin-top: -10px;
  -webkit-text-stroke: 7px transparent !important;
}

.animate {
  animation: rainbow-letters 40s linear infinite;
}

@keyframes rainbow-letters {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

section p {
  letter-spacing: -0.5px;
}
.section-arrows {
  margin-top: 10px;
  margin-bottom: -15px;
  display: flex;
  justify-content: center;
  gap: 10px;
  overflow-y: visible;
}

.section-arrows i {
  font-size: 2.5rem;
  -webkit-text-stroke: 5px transparent;
  transform: translateX(-2.5px);
}

.section-arrows i:hover{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px transparent;
}

.first {
  margin-top: 100vh;
}


@media screen and (min-width: 1700px) {
  section {
    max-width: 750px;
    margin: 0 10%;
  }
  .main-text {
    padding: 0;
    border-radius: 0;
    margin-top: 50px;
  }
  section h1 {
    margin-top: -25px;
    font-size: 3.2rem;
  }
  .section-arrows {
    margin-top: 15px;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1699px) {
  section {
    max-width: 45%;
    margin: 0 10%;
  }
  .main-text {
    padding: 40px;
    border-radius: 30px;
    margin-top: 50px;
  }
  section h1 {
    margin-top: -25px;
    font-size: 3.2rem;
  }
  .section-arrows {
    margin-top: 15px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1299px) {
  section {
    max-width: 600px;
    margin: 0 10%;
  }
  .main-text {
    padding: 40px;
    border-radius: 30px;
  }
  .section-arrows {
    margin-top: 15px;
  }
}


@media screen and (min-width: 1500px) {
  .main-text {
    background-color: transparent;
    backdrop-filter: none;
  }
  p, a{
    font-size: 1.3rem;
    line-height: 1.9rem;
  }
  section h1 {
    font-size: 3.2rem;
  }
}



/* education & experience */

.description {
  margin-top: 10px;
  display: block !important;
}
.description span, .bold {
  font-weight: 500;
}
.bold {
  letter-spacing: -1.5px !important;
}

.education i:not(.fa-arrow-left-long, .fa-arrow-right-long), 
.skills i:not(.fa-arrow-left-long, .fa-arrow-right-long), 
.experience i:not(.fa-arrow-left-long, .fa-arrow-right-long) {
  -webkit-text-stroke: 6px transparent;
}

.main-text .flex {
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  flex-wrap: nowrap;
  overflow-y: visible;
}
.main-text .flex p {
  line-height: 22px;
}
.main-text .flex p > *  {
  margin-right: 5px;
}

.education i:not(.fa-arrow-left-long, .fa-arrow-right-long), 
.experience i:not(.fa-arrow-left-long, .fa-arrow-right-long) {
  margin-right: 5px;
  font-size: 1.9rem;
  padding: 10px 5px;
  cursor: auto;
}
.fa-atom {
  font-size: 2.1rem !important;
}
.fa-city {
  padding: 10px 4px;
  font-size: 1.9rem !important;
  -webkit-text-stroke: 7px transparent !important;
}
.main-text span {
  letter-spacing: -1px;
}

/* skills */

.skills {
  width: 100%;
}

.icon-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 650px;
  height: 85px;
}

.icon-row >*:hover {
  transform: scale(115%);
  transition: all 200ms ease-out;
}

.icon-row >*:hover::after {
  content: attr(data-after);
  display: block;
  font-size: 1rem;
  font-family: var(--text);
  text-align: center;
  margin-top: 10px;
  background: linear-gradient(
    -45deg, #b44285, #00bbbb 
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px transparent;
}
.icon-row .glsl:hover::after {
  width: max-content;
}
.icon-row .fa-npm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0;
}

.skills i:not(.fa-arrow-left-long, .fa-arrow-right-long) {
  background: linear-gradient(var(--off-grey), var(--off-grey));
  padding: 10px;
  font-size: 3.8rem;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 9px transparent;
}
.skills i:not(.fa-arrow-left-long, .fa-arrow-right-long):hover {
  background: linear-gradient(
    -45deg, #b44285, #00bbbb 
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 9px transparent;
  cursor: auto;
}


.glsl, .adobe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.glsl {
  width: 3.7rem;
  height: 4rem;
}
.glsl p {
  line-height: 0.7rem;
  font-size: 2.1rem;
  letter-spacing: 6px;
  text-align: center;
  background: linear-gradient(var(--off-grey), var(--off-grey));
  padding: 10px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.8px transparent;
}

.glsl:hover p {
  background: linear-gradient(
    -45deg, #b44285, #00bbbb 
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.8px transparent;
}

.icon-row svg {
  width: auto;
  margin: 0 10px;
}

.three-js {
  height: 4.7rem;
  margin-top: -7px !important;
  margin-bottom: -10px !important;
}
.three-js-container:hover path {
  stroke:url(#svg-gradient) #00bbbb;
}

.greensock {
  height: 4.2rem !important;
  margin-bottom: -6px !important;
}
.greensock:hover path {
  fill:url(#svg-gradient) #00bbbb;
}

.adobe {
  height: 3.9rem;
  margin-top: -3px;
}
.adobe path {
  fill: var(--off-grey);
  stroke: var(--off-grey);
}
.adobe-container:hover path {
  fill:url(#svg-gradient) #00bbbb;
  stroke:url(#svg-gradient) #00bbbb
}


/* projects */

section.projects {
  max-width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
  margin-bottom: 200px;
  align-items: center;
  background-color: var(--transparent-white);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.projects .section-arrows {
  margin-bottom: 40px;
}

.projects h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 2.5rem;
  -webkit-text-stroke: 6.5px transparent !important;
  letter-spacing: 1px;
  text-align: center;
}

.flex {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-container {
  flex-basis: 100%;
  width: 100%;
  max-width: 500px;
  padding: 0 5%;
  box-sizing: border-box;
}


.project-container div {
  position: relative;
}

.img-container {
  width: 100%;
}

.web-projects .img-container {
  aspect-ratio: 2.15/1;
}

.img-overlay {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  overflow-y: visible;
}

.overlay-desktop {
  display: none;
}
.overlay-mobile .flex {
  gap: 0 !important;
}

.img-overlay .flex {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow-y: visible;
}
.img-overlay i, .graphic-projects i {
  font-size: 2.3rem;
  padding: 10px;
  background: linear-gradient(
    -45deg, #b44285, #111622, #ff00f3, 
    #32ff73, #392149, #00bbbb, #b44285 95% 
  );
  background-size: 400%;
  padding: 10px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 6px transparent;
  overflow-y: visible;
}
.img-overlay p {
  text-align: center;
  margin-top: -5px;
  margin-bottom: 2px;
}  


.project-container img {
  min-width: 200px;
  position: relative;
  width: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.web-projects .img-container {
  aspect-ratio: 2.15/1;
}

.project-container p {
  min-width: 150px;
}

.projects .description {
  margin-top: 7px;
}

.technologies {
  margin-top: 15px;
  overflow-y: visible;
}
.technologies ul {
  gap: 10px;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 10px;
  overflow-y: visible;
}
.technologies li {
  padding: 10px 20px;
  background-color: var(--main);
  border: var(--main) solid 3px;
  border-radius: 30px;
  white-space: nowrap;
  font-size: 0.8rem;
  overflow-y: visible;
}

/* graphic projects */

.graphic-projects {
  overflow-y: hidden;
}

.graphic-projects .img-container {
  aspect-ratio: auto;
  height: auto;
  cursor: pointer;
}

.graphic-projects .project-container img {
  position: relative;
  background-color: #fff;
  margin-bottom: -4px;
}

.appended-project {
  margin-top: 30px;
}

.dropdown-content {
  opacity: 0;
  transform: scaleY(0%);
  -webkit-transform: scaleY(0%);
  position: absolute !important;
}

.dropdown-content.visible  {
  opacity: 1;
  transform: scaleY(100%);
  position: relative !important;
  padding-bottom: 15px !important;
}

.dropdown-content.visible > * {
  opacity: 1;
}

.dropdown-btn.unrolled i {
  transform: rotate(180deg);
}

.dropdown-content img {
  margin: 15px 0;
}

/* media queries for projects */


@media screen and (min-width: 900px) {
  section.projects {
    height: 100vh !important;
    margin-bottom: 0;
  }
  .projects .section-arrows {
    margin-bottom: 0px;
  }
  .project-container {
    flex-basis: 30%;
    max-width: max-content;
    padding: 0;
  }
  .flex {
    max-height: 60vh !important;
    overflow-y: scroll;
  }
  .projects h1 {
    margin-top: 0px;
    font-size: 3.5rem;
    -webkit-text-stroke: 8px transparent !important;
    letter-spacing: 0;
  }
  .overlay-mobile {
    display: none !important;
  }
  .img-overlay {
    width: 100%;
    background-color: var(--transparent-white);
    opacity: 0;
    z-index: 10;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  .web-projects .img-overlay {
    aspect-ratio: 2.14/1;
  }
  .project-container img {
    min-width: 385px;
  }
  .project-container p {
    min-width: 200px;
  }
  .img-container:hover .img-overlay {
    opacity: 1;
  }
  .img-overlay .flex {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .img-overlay i {
    font-size: 3rem;
    background: var(--off-black);
    padding: 10px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 7px transparent;
    transition: all 250ms;
  }
  .img-overlay .flex:hover i {
    background: linear-gradient(
      -45deg, #b44285, #111622, #ff00f3, 
      #32ff73, #392149, #00bbbb, #b44285 95% 
    );
    background-size: 400%;
    padding: 10px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 8px transparent;
  }
  .web-projects .project-container img {
    position: absolute;
  }
  .web-projects .img-container:hover img {
    filter: blur(1px);
  }  
}

@media screen and (max-width: 899px) {
  .technologies {
    margin: 15px 0 !important;
  }
  .technologies li {
    padding: 7px 14px;
  }
  .technologies ul {
    gap: 7px;
  }
}
@media screen and (max-width: 1260px) and (min-width: 900px) {
  .technologies {
    margin-bottom: -15px !important;
  }
}



/* contact */

.contact p {
  margin-bottom: 5px;
}

.contact i:not(.fa-arrow-left-long, .fa-arrow-right-long, .fa-file-pdf) {
  font-size: 1.8rem;
  padding: 3.5px;
  background: linear-gradient(
    -45deg, #b44285, #00bbbb 
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 6px transparent;
}
.contact i:not(.fa-arrow-left-long, .fa-arrow-right-long, .fa-file-pdf, .fa-envelope):hover {
  background: var(--off-grey);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 6px transparent;
}
.email {
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.email:hover{
  color: var(--off-grey);
}
.email:hover i {
  background: var(--off-grey);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 6px transparent;
}

button {
  padding: 10px 15px;
  font-size: 0.9rem;
  border: none;
  border-radius: 30px;
  font-weight: 400;
  color: var(--off-black);
  background: var(--main);
  cursor: pointer;
}
button:hover {
  color: var(--off-white);
  background: linear-gradient(
    -45deg, #b44285, #111622, #ff00f3, 
    #32ff73, #392149, #00bbbb, #b44285 95% 
  );
  background-size: 400%;
  animation: rainbow-letters 40s linear infinite;
  transition: all 250ms ease-out;
}
.secondary-btn {
  margin-top: -10px
}
.secondary-btn:hover i {
  color: var(--off-white);
}
button i {
  color: var(--off-black);
  margin: 0 5px;
  transition: all 250ms ease-out;
}

/* Contact Form */

.contact-form-container {
  margin: 0;
  margin: 15px 0;
}

form .flex {
  align-items: flex-start !important;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flex.form-flex {
  flex-direction: column;
}

.form-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px
}

.contact-form input, .contact-form textarea{
  width: 100%;
  padding: 8px 10px;
  outline: none;
  border: var(--off-black) solid 1px;
  border-radius: 15px;
  font-size: 0.9rem;
  background-color: var(--off-white);
  color: var(--off-black);
}
.contact-form textarea {
  min-height: 130px;
  width: 100%;
}

form button {
  padding: 10px;
  border-radius: 20px;
  font-weight: 600;
}

.contact-form p {
  padding: 0;
}

@media screen and (min-width: 1700px) {
  .contact-form textarea {
    min-width: 450px;
    min-height: 180px;
  }
  .contact-form input, .contact-form textarea{
    font-size: 1rem;
    border-radius: 20px;
    padding: 10px;
  }
  button {
    padding: 15px 20px;
    font-size: 1.2rem;
  }
  .contact i:not(.fa-arrow-left-long, .fa-arrow-right-long, .fa-file-pdf) {
    font-size: 2rem;
    padding: 5px;
  }
}

@media screen and (min-width: 600px) {
  .flex.form-flex {
    flex-direction: row !important;
  }
  span.email {
    letter-spacing: -0.5px;
  }
  .secondary-btn {
    margin-top: 0px
  }
}