@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Gajraj+One&family=Six+Caps&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --text: 'Ubuntu', sans-serif;
  --display: 'Audiowide', cursive;
  --narrow: 'Six Caps', sans-serif;
  --main: #32ff73;
  --off-white: #dcdfec;
  --off-black: #232b3f;
}

html {
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background-color: var(--off-white);
}

p, li, a {
  font-family: var(--text);
  font-size: 1.3rem;
  line-height: 1.9rem;
  font-stretch:expanded;
  text-decoration: none;
  color: var(--off-black);
}

ul {
  list-style: none;
}

h1 {
  font-size: 3.5rem;
  font-family: var(--display);
  text-transform: uppercase;
  color: var(--off-white);
}

.hidden {
  opacity: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  pointer-events: none;
}

.wrapper {
  position: absolute;
  top: 50vh;
  left: 50%;
  right: 5%;
  max-width: 650px;
}

.wrapper-feather {
  position: fixed;
  left: 48%;
  right: 0%;
  height: 20vh;
  padding: 10px;
  background-color: var(--off-white);
  box-shadow: 0 0 15px 15px var(--off-white);
  pointer-events: none;
  z-index: 3;
}
.wrapper-feather.top {
  top: 0;
}
.wrapper-feather.bottom {
  bottom: 0;
}

section {
  padding-bottom: 580px !important;
}

/* INTRO */

section.intro {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(220, 223, 236, 0.8);
  z-index: 10;
}

.intro-container {
  position: absolute;
  width: 80%;
  max-width: 1300px;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  transition: all 1500ms ease-in;
}

.intro h1 {
  margin-top: 0;
  font-size: 4.2rem;
  letter-spacing: 2.5px;
  word-spacing: -2px;
  line-height: 5rem;
  background: linear-gradient(
    -45deg, #b44285, #111622, #ff00f3, 
    #32ff73, #392149, #00bbbb, #b44285 95% 
  );
  background-size: 400%;
  padding: 10px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 8px transparent;
}

.intro span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px transparent;
  font-weight:bold;
  letter-spacing: -1px;
}

.intro p {
  max-width: 1100px;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 2.5rem;
}

.intro-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 120px;
  margin-top: -20px;
}

.intro-arrow i {
  font-size: 10rem;
  background: linear-gradient(
    -45deg, #b44285, #111622, #ff00f3, 
    #32ff73, #392149, #00bbbb, #b44285 95% 
  );
  color: var(--off-white);
  background-size: 400%;
  padding: 10px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 8px transparent;
  animation: rainbow-letters 40s linear infinite;
}

.intro-arrow i:hover{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px transparent;
}

/* MAIN SECTIONS */


section h1 {
  margin-top: 95px;
  margin-bottom: 25px;
  margin-left: -10px;
  background: linear-gradient(
    -45deg, #b44285, #111622, #ff00f3, 
    #66ff00, #392149, #2becec, #b44285 95% 
  );
  background-size: 400%;
  padding: 10px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 6px transparent;
  animation: rainbow-letters 40s linear infinite;
}

@keyframes rainbow-letters {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

section p {
  letter-spacing: -1px;
}

.first {
  margin-top: 800px;
  scroll-margin-top: 340px;
}

section.contact {
  margin-bottom: 350px;
}

.name {
  width: 100vw;
  position: fixed; 
  left: 0;
  top: 0%; 
  margin-left: -50%;
  z-index: 5;
  mix-blend-mode: multiply;
  /* animation: scroll 120s linear 500ms infinite alternate; */
}

@keyframes scroll {
  0% {
    transform: translateX(-240%);
  }
  100% {
    transform: translateX(0%);
  }
}

.name svg {
  width: 600vw;
}

